<html>
	<head>
			<title>Blog Szymona</title>
			<link rel="shortcut icon" href="">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	</head>

	<body>	
		<div>
			<h1><a href="">Django Girls Blog</a></h1>
		</div>
		
		{% for post in posts %}
		<div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
		</div>
		{% endfor %}
		
		
		<div><h1><a href="">My first post</a></h1>
			<p>published: 14.06.2014</p>
			<p>DUP dolor sit amet, consectetur adipiscing elit. 
			Quisque et urna condimentum, cursus quam non, blandit quam. 
			Donec at mi ac nisl scelerisque consequat. 
			Vivamus iaculis justo et auctor efficitur. Maecenas vulputate 
			pharetra turpis. Vivamus dignissim nisi vitae neque convallis dictum.
			Vestibulum eu scelerisque felis, vel pulvinar ipsum. Ut posuere molestie 
			auctor. Donec in accumsan felis, eu dapibus quam.
		</div>
		
		
		<div><br><h1><a href="">My second post</a></h1></br>
			<p>published: 14.06.2014</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Quisque et urna condimentum, cursus quam non, blandit quam. 
			Donec at mi ac nisl scelerisque consequat. 
			Vivamus iaculis justo et auctor efficitur. Maecenas vulputate 
			pharetra turpis. Vivamus dignissim nisi vitae neque convallis dictum.
			Vestibulum eu scelerisque felis, vel pulvinar ipsum. Ut posuere molestie 
			auctor. Donec in accumsan felis, eu dapibus quam.
		</div>
		
		</body>	
</html>
